name: test
on:
  push:
    branches:
      - v2
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: docker.io/mdillon/postgis:10
        env:
          POSTGRES_PASSWORD: ""
        ports:
          - 5432:5432
      mysql:
        image: docker.io/library/mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "1"
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - run: make test